<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link
	href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<style>
/*web background*/
.container {
	display: table;
	height: 100%;
}
</style>
<title>学生注册</title>
</head>
<body>
	<div class="container">
		<div class="col-md-6 col-offset-3">
			<h1>学生注册</h1>
			
				<div class="form-group row">
					<label for="firstName" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('firstName')}?'badge badge-danger'">姓：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="firstName"
							placeholder="请输入姓"  th:field="*{firstName}"
							th:classappend="${#fields.hasErrors('firstName')}?'text-danger'">
					</div>
				</div>
				<div class="form-group row">
					<label for="lastName" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('lastName')}?'badge badge-danger'">名：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="lastName"
							placeholder="请输入名"  th:field="*{lastName}"
							th:classappend="${#fields.hasErrors('lastName')}?'text-danger'">
					</div>
				</div>
			<div class="form-group row">
					<label for="email" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('address')}?'badge badge-danger'">address：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="address"
							placeholder="请输入地址"  th:field="*{address}"
							th:classappend="${#fields.hasErrors('address')}?'text-danger'">
					</div>
				</div>
				<div class="form-group row">
					<label for="email" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('TEL')}?'badge badge-danger'">TEL：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="TEL"
							placeholder="请输入手机号码"  th:field="*{TEL}"
							th:classappend="${#fields.hasErrors('TEL')}?'text-danger'">
					</div>
				</div>
				<div class="form-group row">
					<label for="email" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('birthday')}?'badge badge-danger'">出生日期：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="birthday"
							placeholder="请输入出生日期"  th:field="*{birthday}"
							th:classappend="${#fields.hasErrors('birthday')}?'text-danger'">
					</div>
				</div>
                <div class="form-group row">
					<label for="email" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('sex')}?'badge badge-danger'">性别：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="sex"
							placeholder="请输入性别"  th:field="*{sex}"
							th:classappend="${#fields.hasErrors('sex')}?'text-danger'">
					</div>
				</div>
		
				<div class="form-group row">
					<label for="ID" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('ID')}?'badge badge-danger'">密码：</label>
					<div class="col-md-9">
						<input type="password" class="form-control" id="password"
							placeholder="请输入密码"  th:field="*{password}"
							th:classappend="${#fields.hasErrors('password')}?'text-danger'">
					</div>
				</div>
				
				<div class="form-group row">
					<label for="password" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('password')}?'badge badge-danger'">核对密码：</label>
					<div class="col-md-9">
						<input type="password" class="form-control" id="password"
							placeholder="请核对您的密码"  th:field="*{password}"
							th:classappend="${#fields.hasErrors('password')}?'text-danger'">
					</div>
				</div>
				<div class="form-group row">
					<input class="btn btn-block" type="submit" value="注册" />
				</div>
		
</body>
</html>



